<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de contactos de Steve</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <section class="contact">
      <div class="content">
        <div class="header">
          <img src="images/perfil.jpg" alt="Perfil" style="width: 200px; height: 200px;">
          <h1>Agenda de contactos de Steve</h1>
        </div>
      </div>
      <div class="container">
        <div class="contactInfo">
          <h2><i>Minecraft <span>¿Por qué es un buen juego?</span></i></h2>
          <p class="txt" style="text-indent: 20px; text-align: justify; line-height: 1.5;">
            Además de desarrollar habilidades cognitivas, como la memoria, la planificación y la concentración,
            Minecraft potencia la destreza visual, la creatividad,
            la coordinación espacial, el autocontrol y la toma de decisiones.
          </p>
        </div>
        <div class="login-form">
          <div class="text">LOGIN</div>
          <form action="/" method="post">
            <div class="field">
              <div class="fas fa-envelope"></div>
              <input type="text" name="user" placeholder="Usuario" required>
            </div>
            <div class="field">
              <div class="fas fa-lock"></div>
              <input type="password" name="clave" placeholder="Clave" required>
            </div>
            <button type="submit">LOGIN</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>