<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Animated Login Form</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/alphardex/aqua.css@master/dist/aqua.min.css"
    />
    <link rel='stylesheet' href='/stylesheets/prueba.css' />
  </head>
  <body>
    <form class="login-form"  action="/addPost " method="post">
      <h1>Registro</h1>

      </div>

      
      <div class="form-input-material">
        <input type="text"  placeholder="" name="nombre" autocomplete="off" class="form-control-material"/>
        <label for="nombre">Nombre</label>
      </div>


      <div class="form-input-material">
         <input type="text" name="img" name="img" placeholder="" autocomplete="off" class="form-control-material">
         <label for="img">Imagen (link)</label>
      </div>


      <div class="form-input-material">
        <input type="number" name="numero" name="numero" placeholder="" autocomplete="off" class="form-control-material">
        <label for="numero">Número</label>
      </div>


      <div class="form-input-material">
        <input type="text" name="descripcion" placeholder="" autocomplete="off" class="form-control-material">
        <label for="descripcion">Descripción</label>
      </div>


      <button type="submit" class="btn btn-primary btn-ghost">Login</button>
      <button href="/agenda" class="btn btn-primary btn-ghost">Volver</button>
    </form>
  </body>
</html>